@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


*{
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  text-decoration: underline;
}

li{
  text-decoration: none;
}